# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [51]:
pop = np.random.randint(10, size=3) * (10**5)
pop

data = {'國家': ["Taiwan", "United States", "Thailand"],
        '人口': pop}
data = pd.DataFrame(data)

data

              國家      人口
0         Taiwan  800000
1  United States  400000
2       Thailand  600000

In [52]:
data.describe()

             人口
count       3.0
mean   600000.0
std    200000.0
min    400000.0
25%    500000.0
50%    600000.0
75%    700000.0
max    800000.0